@model IEnumerable<ASPNetSocialMedia.Models.FriendRelation>

@{
    ViewData["Title"] = "Index";
}

<h1>Friends</h1>

<p>
    <button type="button" class="btn btn-info"><a asp-action="Create">Find Friends!</a></button>
    
</p>


@foreach (var item in Model)
{
    <div class="alert alert-dark" role="alert">
        <h4 class="alert-heading"> @Html.DisplayFor(modelItem => item.FriendName)</h4>
        <p>@Html.DisplayFor(modelItem => item.FriendEmail)</p>
        <hr>
        <p class="mb-0">
            <a asp-action="Edit" asp-route-id="@item.FriendRelationId">Edit Contact Name</a> |
            <a asp-action="Details" asp-route-id="@item.FriendRelationId">Message History</a> |
            <a asp-action="Delete" asp-route-id="@item.FriendRelationId">Delete</a>
        </p>
    </div>
}
